* {
    background: black;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.navbar a {
    background: red;
    border: 1px solid red;
    border-radius: 12px;
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    margin: 10px;
    box-sizing: border-box;
    width: 150px;
}

.navbar {
    padding: 20px 0px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: 600px;
    margin: 1% auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

.nlink {
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h1, h2, h3 {
    font-family: 'Tangerine', cursive;
}

h3 {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

.head {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: 600px;
    margin: 2% auto;
    padding-top: 1%;
    padding-bottom: 3%;
}


body {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: auto;
    justify-items: center;
}


.title1 {
    margin: 4% auto 0px auto;
    padding: 1%
}

.rsound {
    height: 10%;
    max-width: 100%;
    min-width: 100%;
}

.title2 {
    text-decoration: none;
    justify-content: center;
    margin: 1% auto;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 3%;
}

.mpar {
    min-width: 550px;
    max-width: 1000px;
    margin: 5% auto;
    border: 5px ridge red;
    padding: 2%;
    
}

.wes {
    color: red;
}

.features {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    padding-top: 5%;
    align-items: center;
}

.feature-list {
    align-items: center;
    box-sizing: border-box;
    text-size-adjust: 100%;
    display: inline-block;
}

.card {
    box-sizing: border-box;
    display: inline-block;
    max-width: 400px;
    min-width: 290px;
    padding: 0px 10px;
    margin: 10px;
    box-shadow: white;
    height: 270px;
}

.badge {
    display: inline-block;
}

.ftitle {
    font-size: 20px;
}

.features {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: 600px;
    margin: 1% auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

.artists {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 1% auto;
    padding-top: 1%;
    padding-bottom: 3%;
}


.pricing {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 1% auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

.testamonials {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: 600px;
    margin: 1% auto;
    padding-top: 1%;
    padding-bottom: 3%;
}

#artists, #pricing {
    padding: 5% 0px;
}

#cd, #cassette, #vinyl {
    height: 70px;
}

.foot {
    text-align: center;
}

input[type="text"], [type="submit"] {
    color: white;
    border: 1px solid white;
}

#email {
    color: white;
}

#note {
    padding-top: 5%;
    font-size: 11px;
    width: 500px;
    text-align: left;
}

.footer {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 1% auto;
    padding-top: 1%;
    padding-bottom: 3%;
}