* {
    background: black;
    box-sizing: border-box;
    text-align: center;
    color: white;
}

body {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: auto;
    justify-items: center;
    align-content: center;
}

iframe {
    margin: 0 auto;
    background-color: #777;
    display:block;
    align-content: center;
}

p {
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    padding-top: 5%;
    align-items: center;    
    align-content: center;
    width: 600px;
}

a {
    color: red;
}